body{
    font-family:"Raleway";
    background-color: #011229;
    

}
/*Hi guys...please write a comment if you do decide to delete code or change filenames to avoid confusion-->*/

.head {

  display: flex;

  height: 100px;
  width: 96%;
  margin-left: 4vh
}
.x{
  display: flex;
}
.fa-bars{
  margin-left: 85%;
  font-size: 25px;
  color: white;
  margin-top: 4vh;
}
.dropdown{
  background-color:white;
  height: 640px;
  display: none;
}
.link{
  margin-left: 9%;
  line-height: 70px;
  font-size: 21px;
  
}
.link li{
  list-style: none;
}

.link a{
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 400;
  color:rgb(224, 9, 9);
}
.fa-x{
  margin-top: 4vh;
  margin-left: 93%;
  font-size: 25px;
  color:black;
}
.logo {
  height: 100px;
  width: 100px;
}

  
.forms{
  display: flex;
  margin-left: 7%;
  
}
.form {
  /*background-color: #031227fb;*/
  
 display: block;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width:45%;
  
margin-left:10% ;
  margin-top: 40px;
}
.links{
  margin-left: 150px;
  margin-top: 50px;
}
.title {
  color: #eee;
  font-family: 'Raleway';
  font-size: 25px;
  font-weight: 500;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color:transparent;
 border: none;
  border-bottom: 1px solid white;
  
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  /*background-colo:#15172b;*/
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: red;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: yellow;
  margin-top: 60px;
}

.submit {
  background-color:red;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}
.submit:hover{
  background-color: transparent;
  border: 1px solid red;
}

.two{
  margin-top: 80px;
  
}
.adress{
  margin-top: 30px;
}
a{
  text-decoration: none;
  color: white;
  font-family: 'Raleway';
  

}