.link{
    margin-left: 13%;
    line-height: 70px;
    font-size: 21px;
    
}
.fa-x{
    margin-left: 90%;
    font-size: 25px;
}
.link li{
    list-style: none;
}

.link a{
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 400;
    color:rgb(224, 9, 9);
}