body{
    font-family:"Raleway";
    
    background-color:#011229;

    color: aliceblue;

}
/*Hi guys...please write a comment if you do decide to delete code or change filenames to avoid confusion-->*/

.fa-bars{
  margin-left: 85%;
  font-size: 25px;
  color: white;
  margin-top: 4vh;
}
.head {

  display: flex;

  height: 100px;
  width: 96%;
  margin-left: 4vh
}
.x{
  display: flex;
}

.logo {
  height: 100px;
  width: 100px;
  position: sticky;
}
        
  .plans {
    width: 96%;
    margin-left: 4vh;
    display: flex;
    height: 400px;
    text-align: center;
    margin-bottom: 4vh;
}

.price {
    height: 400px;
    width: 400px;
    background-color:#011229;
    margin-right: 45px;
    margin-left: 5vh;
    border: 2px solid aqua;
    border-radius: 15px;
    margin-top: 100px;
    font-family: Raleway;
    font-weight: 350;
}
#plans{
    font-weight: 300;
    font-family: Raleway;
}
.pricebtn{
    
    width:120px;
    height: 40px;
    background-color: red;
    border:1px solid red;
    border-radius: 12px;
}
.two{
    background-color: yellow;
    color:black;
    border:1px solid yellow;

}