body{
    font-family:"Raleway";
    background-color:#011229;

    color: aliceblue;

}
/*Hi guys...please write a comment if you do decide to delete code or change filenames to avoid confusion-->*/
.dropdown{
  background-color:black ;
  height: 640px;
  display: none;
}
.link{
  margin-left: 9%;
  line-height: 80px;
  font-size: 28px;
  display: flex;
  
}
.fa-bars{
  margin-left: 85%;
  font-size: 25px;
  color: white;
  margin-top: 4vh;
}
.link .follow{
color:rgb(224, 9, 9);
margin-left: 450px;
line-height:40px;
margin-top: 70px;
}

.link li{
  list-style: none;
}
.link .follow a {
  margin-left: 10px;
  color:aliceblue;
  text-decoration: none;
}
.link a{
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 400;
  /*color:rgb(224, 9, 9);
  */color: aqua;

}
.link a:hover{
  color: aliceblue;
  border-bottom: 4px solid rgb(224, 9, 9);
}
.follow a:hover{
  color:red;
  border:none;
}


.fa-x{
  margin-top: 4vh;
  margin-left: 85%;
  font-size: 25px;
  color:white;


}
.fa-x:hover{
  color: red;
}
.link ul{
  display: flex;
}

.head {

  display: flex;

  height: 100px;
  width: 96%;
  margin-left: 4vh
}
.x{
  display: flex;
}

.logo {
  height: 100px;
  width: 100px;
  position: sticky;
}
        
  .plans {
    width: 96%;
    margin-left: 4vh;
    display: flex;
    height: 400px;
    text-align: center;
    margin-bottom: 4vh;
}

.price {
    height: 400px;
    width: 400px;
    background-color:#011229;
    margin-right: 45px;
    margin-left: 5vh;
    border: 2px solid aqua;
    border-radius: 15px;
    margin-top: 100px;
    font-family: Raleway;
    font-weight: 350;
}
#plans{
    font-weight: 300;
    font-family: Raleway;
}
.pricebtn{
    
    width:120px;
    height: 40px;
    background-color: red;
    border:1px solid red;
    border-radius: 12px;
}
.two{
    background-color: yellow;
    color:black;
    border:1px solid yellow;

}