body{
    font-family:"Raleway";
    background-color: #031227fb;
    color: white;

}
/*Hi guys...please write a comment if you do decide to delete code or change filenames to avoid confusion-->*/

.head {

  display: flex;

  height: 100px;
  width: 96%;
  margin-left: 4vh
}


.logo {
  height: 100px;
  width: 100px;
}
body{
    font-family:"Raleway";
    background-color: #031227fb;
    color: white;

}
.button1 {
    width: 200px;
    height: 30px;
    border-radius: 32px;
    background-color: transparent;
    border: 1px solid red;
    background-color: transparent;
    cursor: pointer;
    margin-left: 37vh;
    height: 55px;
    margin-top: 2vh;
    ;
    font-size: 16px;
    color: white;
  }
  ul {
    color: white;
    margin-left: 22%;
    padding-top: 0;
  }
  .social-list{
    display: flex;
    color: white;
    margin-left: 22%;
    padding-top: 0;
  }
  li {
    margin-right: 15px;
    list-style: none;
    border: none;
    height:29%;
    
  }
  .plans {
    width: 96%;
    margin-left: 4vh;
    display: flex;
    height: 400px;
    text-align: center;
    margin-top: 16vh;
}

.price {
    height: 400px;
    width: 400px;
    background-color: #031227d0;
    margin-right: 45px;
    margin-left: 5vh;
    border: 2px solid aqua;
    border-radius: 15px;
    color: #fff;
    font-family: Raleway;
    font-weight: 350;
}
#plans{
    font-weight: 300;
    font-family: Raleway;
}
.pricebtn{
    color:white;
    width:120px;
    height: 40px;
    background-color: red;
    border:1px solid red;
    border-radius: 12px;
}
.two{
    background-color: yellow;
    color:black;
    border:1px solid yellow;

}